header 
    <!--div(class="navegacion")-->
    <!--div.navegacion-->
    .navegacion
        .container
            .row.justify-content-center.justify-content-md-between.align-items-center.py-1 
                .col-md-2.col-6
                    a(href="/")
                        img(src="img/zacatlan-letter.png" ,  height = 50)
                .col-md-10
                    nav.mt-5.mt-md-0.nav.justify-content-center.justify-content-md-end
                        a.btn.btn-sm.btn-gerente.mx-2(href = "/gerentes") Gerentes 
                            a.btn.btn-sm.btn-hotel.mx-2(href = "/hoteles") Hoteles
                                a.btn.btn-sm.btn-room.mx-2(href = "/habitaciones") Habitaciones
                                    a.btn.btn-sm.btn-visit.mx-2(href="/cerrarsesion") Cerrar Sesion 
                                    //a.btn.btn-sm.btn-visit.mx-2(href = "/visitas") Visitas 
                                        
                            
                            
                        