extends ./layout/index.pug
block compartircontenido

    main.inicio-b
        center 
            img(src="img/pueblos-magicos.png" ,  height = 50,)
            h2.white-letter
                span.lead Puebla
            h1.white-letter
                span Zacatlán de las manzanas
            p.lead.white-letter Registra tu visita seleccionando  uno de los multiples hoteles que Zacatlan tiene para ofrecerte.


                            
        hr.featurette-divider    
        



        .container.mt-5.text-center 
                .row
                    div.col-md-4
                        img.rounded-circle(src="img/hotel-imagen-1.jpg" , width = 150 , height = 150)
                        h2.white-letter La Casona de los Gómez
                        p.white-letter Avenida Licenciado Luis Cabrera I., 73310 Zacatlán, México .
                        p
                            
                    hr.featurette-divider
                    div.col-md-4
                        img.rounded-circle(src="img/hotel-imagen-2.jpg" , width = 150 , height = 150)
                        h2.white-letter Hotel Posada
                        p.white-letter Leandro Valle, 23 Centro, Zacatlán 73310 México.
                        p
                    hr.featurette-divider
                    div.col-md-4
                        img.rounded-circle(src="img/hotel-imagen-3.jpg" , width = 150 , height = 150)
                        h2.white-letter La Tierra Grande
                        p.white-letter Prolongacion Gomez Farias s/n entre carr. interserrana y unid. Xiuitec, Zacatlán 73310 México.
                        p
                    hr.featurette-divider