extends ./layout/index2.pug
block compartircontenido

    main.inicio-b
        center 
            img(src="img/pueblos-magicos.png" ,  height = 50,)

            .row.featurette.my-5.white-letter
                .ml-5.mr-5
                    h2
                        span.lead Puebla
                    h1
                            span Zacatlán de las manzanas5555
                            p.lead Entrar a este Pueblo Mágico es llegar a un mundo distinto, se percibe niebla y frío, como si alguien hubiera levantado la comunidad entera hasta las nubes. Por las tardes rápidamente las calles se llenan de niebla y no es posible verse ni la punta de la nariz. Sin duda, este milagro es sugestivo y atrayente. Una vez que clarea el día podrás ver un enorme y colorido reloj floral en el Centro Histórico, el cual marca el ritmo de vida de este pueblo de encanto.
        hr.featurette-divider    
        
        .container.mt-5.text-center 
                .row
                    div.col-md-4
                        img.rounded-circle()
                        h2.white-letter 
                        p.white-letter 
                        p
                            
                    hr.featurette-divider
                    div.col-md-4
                        
                        h2.white-letter ¡Visitanos!
                        p.white-letter Tambien estamos en las redes.
                            img(src="img/redes.png" , width = 150 )
                            
                    hr.featurette-divider
                    div.col-md-4
                        h2.white-letter 
                        p.white-letter 
                        
                    hr.featurette-divider


        .container.mt-5.text-center 
                .row
                    div.col-md-4
                        img.rounded-circle(src="img/manzanas.jpg" , width = 150 , height = 150)
                        h2.white-letter Feria de la Manzana
                        p.white-letter Celebrada cada año, la feria de la manzana busca que el negocio local llegue a turistas.
                        p
                            a.btn.btn-primary(href = "/") Conoce más »
                    hr.featurette-divider
                    div.col-md-4
                        img.rounded-circle(src="img/museo-reloj.jpg" , width = 150 , height = 150)
                        h2.white-letter Museo del Reloj
                        p.white-letter El museo interactivo por excelencia de Zacatlan que busca contar la historia del reloj.
                        p
                            a.btn.btn-primary(href = "/") Conoce más »
                    hr.featurette-divider
                    div.col-md-4
                        img.rounded-circle(src="img/alebrije.jpg" , width = 150 , height = 150)
                        h2.white-letter Vitro Murales
                        p.white-letter Disfruta de las obras de arte elaboradas a base de vidrio por artesanos.
                        p
                            a.btn.btn-primary(href = "/") Conoce más »
                    hr.featurette-divider